
<table class="table table-striped">
  <thead>

  <tr>
    <th>Name</th>
    <th>Average</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>

  <% rated.each do |rating| %>
      <tr>
        <td><%= rating.name %></td>
        <td><%= round(rating.average_rating) %></td>

      </tr>

  <% end %>


  </tbody>
</table>