<h1>All Ratings</h1>

Number of ratings <%= @ratings.count %>

<ul>
  <%@ratings.each do |rating| %>

     <li>
       <%=rating %> <%= link_to 'delete', rating, method: :delete, data: {confirm: 'Are you sure?'}%>
     </li>
    <%end%>
  </ul>

<%= link_to "create new", new_rating_path %>
