
<li><%= link_to 'my page', current_user %></li>
<li><%= link_to 'rate a beer', new_rating_path %></li>
<li><%= link_to 'join a club', new_membership_path %></li>
<li><%= link_to 'sign out', signout_path, method: :delete %></li>